.barfiller {
    width: 100%;
    height: 5px;
    background: #ddd;
    position: relative;
    margin-bottom: 20px;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#fff;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}
.barfiller .tip {
	padding-top: 3px;
	font-size: 14px;
	position: absolute;
	z-index: 2;
	font-weight: 600;
	color: #000;
	left: auto !important;
	right: 0;
	top: -28px;
}